<html>
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="{{checkPrefix "/assets/favicons/apple-touch-icon.png"}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{checkPrefix "/assets/favicons/favicon-32x32.png"}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{checkPrefix "/assets/favicons/favicon-16x16.png"}}">
    <link rel="manifest" href="{{checkPrefix "/assets/favicons/site.webmanifest"}}">

    <link href="{{checkPrefix "/assets/lib/css/bootstrap.css"}}" rel="stylesheet" />
    <link href="{{checkPrefix "/assets/lib/css/fontAwesome.css"}}" rel="stylesheet" />
    <link href="{{checkPrefix "/assets/lib/styles.css"}}" rel="stylesheet" />
  </head>
  <body>
{{#unless hideMenu}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand h1" href="{{checkPrefix "/events"}}">SEEDS Invites</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{checkPrefix "/events"}}">Invite Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Invite Pool</a>
        </li>
      </ul>
      <div class="d-flex">
        <a class="btn btn-sm btn-outline-secondary" href="{{checkPrefix "/logout"}}">
        <i class="fa fa-sign-out-alt"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
{{/unless}}

    <div class="container">
      {{{content}}}
    </div>

    <script src="{{checkPrefix "/assets/lib/js/jquery.min.js"}}"></script>
    <script src="{{checkPrefix "/assets/lib/scripts.js"}}"></script>
    {{{_sections.script}}}
 </body>
</html>