<div id="campaignsPage">
    <div class="float-end h3">
       {{campaignsCount}} Campaigns ~ ยง {{formatNumber sumSeeds}}
    </div>
    <h1>Campaigns List</h1>

    <div class="row">
        {{#each campaigns}}
        <div class="col-3">
            <div class="card" >
                <img src="{{PictureURL}}"  class="card-img-top mt-3" alt="{{Title}}" />
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <a href="{{checkPrefix '/campaigns/info/'}}{{ProposalID}}" >
                            {{Title}}
                        </a>
                    </h5>
                    {{!-- <p class="card-text">
                        {{Description}}
                    </p> --}}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ยง {{formatNumber [SeedsRequested]}}</li>
                    <li class="list-group-item">
                        <span class="badge bg-{{passedStatusColor [VotingStatus]}}">{{[VotingStatus]}}</span>
                        <span class="badge bg-secondary rounded-pill">
                            <i class="fa fa-arrow-up"></i>
                            {{Upvotes}}
                            <i class="fa fa-arrow-down"></i>
                            {{Downvotes}}
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span title="Proposal ID">
                            <strong>#</strong>{{ ProposalID }} 
                        </span>

                        <a href="{{checkPrefix "/campaigns?cycle="}}{{ ProposalCycle }}" title="Proposal Cycle">
                            <i class="fa fa-sync-alt fa-sm"></i>{{ ProposalCycle }}
                        </a>
                    </li>
                </ul>
                <div class="card-body">
                    {{#if OrganizationAccount}}
                    <a href="https://telos.bloks.io/account/{{OrganizationAccount}}" class="card-link" target="_blank">{{OrganizationAccount}}</a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>