<div id="campaignsPage">
    <h1>Campaign List</h1>

    <div class="row">
        {{#each campaigns}}
        <div class="col-3">
            <div class="card" >
                <img src="{{PictureURL}}"  class="card-img-top mt-3" alt="{{Title}}" />
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <a href="/network/campaigns/info/{{id}}" >
                            {{Title}}
                        </a>
                    </h5>
                    {{!-- <p class="card-text">
                        {{Description}}
                    </p> --}}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ยง {{formatNumber [SeedsRequested]}}</li>
                    <li class="list-group-item">
                        <span class="badge bg-{{passedStatusColor [VotingStatus]}}">{{[VotingStatus]}}</span>
                    </li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>