<div class="row">
    <div class="col">
        <a class="btn btn-success my-2" href="{{checkPrefix "/events/edit"}}">
        <i class="fa fa-plus"></i>
        New Event
        </a>


    <div class="row row-cols-2 row-cols-md-4">
        {{#each events}}
        <div class="col col-md-3">
            <div class="card my-2">
            <img src="{{QRCode}}" class="card-img-top" alt="{{Name}} QR Code" width="200" />
            <div class="card-body">
                <h5 class="card-title text-center">
                    <a href="{{checkPrefix "/events/view/"}}{{Id}}">
                        {{Name}}
                    </a>
                </h5>
                <p class="card-text">
                    <div class="row">
                        <div class="col">
                            <span class="badge bg-{{eventStatusColor Status 'badge'}}">{{Status}}</span>
                        </div>
                        <div class="col-auto">
                            <span class="badge bg-secondary" title="Available">{{AvailableCount}}</span>
                            <span class="badge bg-info" title="Sent">{{SentCount}}</span>
                            <span class="badge bg-success" title="Redeemed">{{RedeemedCount}}</span>
                            <span class="badge bg-warning"  title="Deleted or Not Found">{{DeletedAndNotFoundCount}}</span>
                        </div>
                    </div>
                </p>
            </div>
            </div>
        </div>
        {{/each}}
    </div>

    </div>
</div>

