<div class="row justify-content-center">
    <form action="/events/import/{{event.Id}}" method="post" class="col-4 mt-3">
        <h1 class="h2">Import invites for {{event.Name}}
        <a href="#" class="btn btn-link btn-sm">
            <i class="fa fa-info" ></i>
        </a>
        </h1>
        <p>
            Please go to the SEEDS Passport app under "Manage Your Invites" menu item
            > "Campaigns". Create a campaign with the desired parameters, click 'export' and paste the resulting list of 
            invite URLs in the texbox below.
        </p>
        <input type="hidden" id="InviteEventId" name="InviteEventId" value="{{event.Id}}"  />
            <div class="form-floating mb-2">
                <textarea class="form-control" name="ImportText" id="ImportText" style="height: 250px"></textarea>
                <label for="Name">Import Links</label>
            </div>
            
            <button type="submit" class="btn btn-success">
                <i class="fa fa-download"></i>
                Import
            </button>
            <a class="btn btn-outline-secondary" href="{{checkPrefix "/events/view/"}}{{event.Id}}">
                <i class="fa fa-chevron-left"></i>
                Back to Event
            </a>
    </form>
</div>