<div class="row">
    <div class="col-3">
        <div class="card" >
            <img src="{{organization.[ImageUrl]}}"  class="card-img-top" alt="{{organization.Name}}" />
        </div>
    </div>
    <div class="col">
        <div class="float-end h3">
            {{campaignsCount}} Campaigns ~ ยง {{formatNumber sumSeeds}}
        </div>
        <h1>{{organization.Name}}</h1>
        <p>{{{compileMarkdown organization.Description}}}</p>

        {{> campaignList}}
    </div>
</div>

