<div class="row mt-3 row-cols-1 row-cols-lg-2">
    <div class="col col-lg-4">
        <h1 class='text-center'>{{event.Name}}</h1>
        <div class="d-flex justify-content-center">
            <a download="{{event.Name}}.png" href="{{qrCode}}">
                <img src="{{qrCode}}" alt="{{event.Name}} QR Code" width="200"  />
            </a>
        </div>
        <div class="d-flex justify-content-center">
            <a href="{{eventUrl}}" id="linkUrl" class="copyBtn" target="_blank">{{eventUrl}}</a>
            <a class="btn btn-link btn-sm" id="copyBtn">
                <i class="fa fa-copy"></i>
            </a>
        </div>
    </div>
    <div class="col col-lg-8">
        <div class="btn-group  float-end">
        <a class="btn btn-{{eventStatusColor event.Status}}" data-bs-toggle="tooltip" data-bs-placement="left" title="Status: {{event.Status}}" href="{{checkPrefix "/events/toggleStatus/"}}{{event.Id}}">
            <i class="fa fa-power-off"></i>
        </a>
        <a class="btn btn-outline-secondary" href="{{checkPrefix "/events/edit/"}}{{event.Id}}" title="Edit Event">
            <i class="fa fa-pen"></i>
        </a>
        <a class="btn btn-outline-secondary" href="{{checkPrefix "/events/import/"}}{{event.Id}}" title="Import more invites">
        <i class="fa fa-download"></i>
        import
        </a>
        </div>
        <h2 class="h3">Invites</h2>
        <table class="table table-stripped table-responsive">
            {{!-- <thead>
                <tr>
                    <th>Invite</th>
                </tr>
            </thead> --}}
            <tbody>
                {{#each invites}}
                <tr>
                    <td title="">{{showPartly Secret}}</td>
                    <td>
                        <div class="badge bg-{{inviteStatusColor Status}}">
                            {{Status}}
                        </div>
                        {{#if (isSentStatus Status)}}
                        <a class="btn btn-outline-secondary btn-sm" href="{{checkPrefix "/events/toggleInviteStatus/"}}{{Id}}" title="Recycle invite status">
                            <i class="fa fa-recycle"></i>
                        </a>
                        {{/if}}
                    </td>
                    <td>
                        {{#if (isRedeemed Status)}}
                            <a href="https://eosauthority.com/account/{{RedeemedAccount}}?network=telos" target="_blank">{{RedeemedAccount}}</a>
                        {{else}}
                            {{formatDate SentOn}}
                        {{/if}}
                    </td>
                    <td class="text-nowrap">
                        ยง
                        {{SowQuantity}} / 
                        {{TransferQuantity}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>


{{#section 'script'}}

<script type="application/javascript">
    
    initInviteView();
    
</script>

{{/section}}