<div class="row">
    <div class="col-4">
        <h1>{{event.Name}}</h1>
        <a href="{{baseUrl}}/i/{{event.Slug}}">{{baseUrl}}/i/{{event.Slug}}</a>
        <a class="btn btn-outline-secondary btn-sm">
            <i class="fa fa-copy"></i>
        </a>
    </div>
    <div class="col-8">
    <h2 class="h3">Invites</h2>
    
    </div>
</div>