<div class="row mt-3">
    <div class="col-4">
        <h1 class='text-center'>{{event.Name}}</h1>
        <div class="d-flex justify-content-center">
            <img src="{{qrCode}}" alt="{{event.Name}} QR Code" width="200"  />
        </div>
        <div class="d-flex justify-content-center">
            <a href="{{eventUrl}}" id="linkUrl" target="_blank">{{eventUrl}}</a>
            <a class="btn btn-link btn-sm" id="copyBtn">
                <i class="fa fa-copy"></i>
            </a>
        </div>
    </div>
    <div class="col-8">
        <div class="btn-group  float-end">
        <a class="btn btn-{{eventStatusColor event.Status}}" data-bs-toggle="tooltip" data-bs-placement="left" title="Status: {{event.Status}}" href="{{checkPrefix "/events/toggleStatus/"}}{{event.Id}}">
            <i class="fa fa-power-off"></i>
        </a>
        <a class="btn btn-outline-secondary btn-sm" href="{{checkPrefix "/events/import/"}}{{event.Id}}">
        <i class="fa fa-download"></i>
        import
        </a>
        </div>
    <h2 class="h3">Invites</h2>
    <table class="table table-stripped">
        {{!-- <thead>
            <tr>
                <th>Invite</th>
            </tr>
        </thead> --}}
        <tbody>
            {{#each invites}}
            <tr>
                <td title="">{{showPartly Secret}}</td>
                <td>
                    <div class="badge bg-{{inviteStatusColor Status}}">
                        {{Status}}
                    </div>
                </td>
                <td>
                    {{#if (isRedeemed Status)}}
                        <a href="https://telos.bloks.io/account/{{RedeemedAccount}}" target="_blank">{{RedeemedAccount}}</a>
                    {{else}}
                        {{formatDate SentOn}}
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    </div>
</div>


{{#section 'script'}}

<script type="application/javascript">
    function initCopy() {
        var $copyBtn = $("#copyBtn");
        $copyBtn.on( "click", function(){
            var url = document.getElementById("linkUrl");
            
            navigator.clipboard.writeText(url.getAttribute("href"));

            $copyBtn.find('i').removeClass("fa-copy").addClass("fa-check");
            setTimeout(function(){
                $copyBtn.find('i').removeClass("fa-check").addClass("fa-copy");
            }, 500);
        });
    }
    initCopy();
    

    $( document ).ready(function() {
        $('[data-bs-toggle="tooltip"]').tooltip()
    });

</script>

{{/section}}