<div class="row mt-3">
    <div class="col-4">
        <h1>{{event.Name}}</h1>
        <div class="d-flex justify-content-center">
            <img src="{{qrCode}}" alt="{{event.Name}} QR Code" width="200"  />
        </div>
        <div class="d-flex justify-content-center">
            <a href="{{baseUrl}}/i/{{event.Slug}}" id="linkUrl" target="_blank">{{baseUrl}}/i/{{event.Slug}}</a>
            <a class="btn btn-link btn-sm" id="copyBtn">
                <i class="fa fa-copy"></i>
            </a>
        </div>
    </div>
    <div class="col-8">
        <div class="btn-group  float-end">
        <a class="btn btn-outline-secondary" title="stop campaign">
            <i class="fa fa-power-off"></i>
        </a>
        <a class="btn btn-outline-secondary btn-sm" href="{{checkPrefix "/events/import/"}}{{event.Id}}">
        <i class="fa fa-download"></i>
        import
        </a>
        </div>
    <h2 class="h3">Invites</h2>
    <table class="table table-stripped">
        {{!-- <thead>
            <tr>
                <th>Invite</th>
            </tr>
        </thead> --}}
        <tbody>
            {{#each invites}}
            <tr>
                <td>{{Secret}}</td>
                <td>
                    <div class="badge bg-secondary">
                        {{Status}}
                    </div>
                </td>
                <td>
                    {{SentOn}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    </div>
</div>


{{#section 'script'}}

<script type="application/javascript">
    function initCopy() {
        var $copyBtn = $("#copyBtn");
        $copyBtn.on( "click", function(){
            var url = document.getElementById("linkUrl");
            
            navigator.clipboard.writeText(url.getAttribute("href"));

            $copyBtn.find('i').removeClass("fa-copy").addClass("fa-check");
            setTimeout(function(){
                $copyBtn.find('i').removeClass("fa-check").addClass("fa-copy");
            }, 500);
        });
    }
    initCopy();
    
</script>

{{/section}}